# **1853. Convert Date Format**
``` console
Table: Days

+-------------+------+
| Column Name | Type |
+-------------+------+
| day         | date |
+-------------+------+
day is the column with unique values for this table.
 

Write a solution to convert each date in Days into a string formatted as "day_name, month_name day, year".

Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
Days table:
+------------+
| day        |
+------------+
| 2022-04-12 |
| 2021-08-09 |
| 2020-06-26 |
+------------+

Output: 
+-------------------------+
| day                     |
+-------------------------+
| Tuesday, April 12, 2022 |
| Monday, August 9, 2021  |
| Friday, June 26, 2020   |
+-------------------------+

Explanation: Please note that the output is case-sensitive.
```

**Solution-1:**

``` sql
# Write your MySQL query statement below

SELECT
CONCAT(date_format(day,'%W'),', ',date_format(day,'%M'),' ',day(day),', ',year(day)) as day
FROM days

**Solution-2:**

``` sql
SELECT DATE_FORMAT(day, "%W, %M %e, %Y") AS day
FROM Days

### **MySQL DATE_FORMAT() Function**

``` console

SELECT DATE_FORMAT("2017-06-15", "%Y");

Definition and Usage

The DATE_FORMAT() function formats a date as specified.

Syntax
DATE_FORMAT(date, format)

Parameter Values

|--------|----------------------------------------------------------------------------|
| Format | Description                                                                |
|--------|----------------------------------------------------------------------------|
| %a     | Abbreviated weekday name (Sun to Sat)                                      |
|--------|----------------------------------------------------------------------------|
| %b     | Abbreviated month name (Jan to Dec)                                        |
|--------|----------------------------------------------------------------------------|
| %c     | Numeric month name (0 to 12)                                               |
|--------|----------------------------------------------------------------------------|
| %D     | Day of the month as a numeric value, followed by suffix (1st, 2nd, 3rd, ..)|
|--------|----------------------------------------------------------------------------|
| %d     | Day of the month as a numeric value (01 to 31)                             |
|--------|----------------------------------------------------------------------------|
| %e     | Day of the month as a numeric value (0 to 31)                              |
|--------|----------------------------------------------------------------------------|
| %f     | Microseconds (000000 to 999999)                                            |
|--------|----------------------------------------------------------------------------|
| %H     | Hour (00 to 23)                                                            |
|--------|----------------------------------------------------------------------------|
| %h     | Hour (00 to 12)                                                            |
|--------|----------------------------------------------------------------------------|
| %I     | Hour (00 to 12)                                                            |
|--------|----------------------------------------------------------------------------|
| %i     | Minutes (00 to 59)                                                         |
|--------|----------------------------------------------------------------------------|
| %j     | Day of the year (001 to 366)                                               |
|--------|----------------------------------------------------------------------------|
| %k     | Hour (0 to 23)                                                             |
|--------|----------------------------------------------------------------------------|
| %l     | Hour (1 to 12)                                                             |
|--------|----------------------------------------------------------------------------|
| %M     | Month name in full (January to December)                                   |
|--------|----------------------------------------------------------------------------|
| %m     | Month name as a numeric value (00 to 12)                                   |
|--------|----------------------------------------------------------------------------|
| %p     | AM or PM                                                                   |
|--------|----------------------------------------------------------------------------|
| %r     | Time in 12-hour AM/PM format (hh:mm:ss AM/PM)                              |
|--------|----------------------------------------------------------------------------|
| %S     | Seconds (00 to 59)                                                         |
|--------|----------------------------------------------------------------------------|
| %s     | Seconds (00 to 59)                                                         |
|--------|----------------------------------------------------------------------------|
| %T     | Time in 24-hour format (hh:mm:ss)                                          |
|--------|----------------------------------------------------------------------------|
| %U     | Week where Sunday is the first day of the week (00 to 53)                  |
|--------|----------------------------------------------------------------------------|
| %u     | Week where Monday is the first day of the week (00 to 53)                  |
|--------|----------------------------------------------------------------------------|
| %V     | Week where Sunday is the first day of the week (01 to 53). Used with %X    |
|--------|----------------------------------------------------------------------------|
| %v     | Week where Monday is the first day of the week (01 to 53). Used with %x    |
|--------|----------------------------------------------------------------------------|
| %W     | Weekday name in full (Sunday to Saturday)                                  |
|--------|----------------------------------------------------------------------------|
| %w     | Day of the week where Sunday=0 and Saturday=6                              |
|--------|----------------------------------------------------------------------------|
| %X     | Year for the week where Sunday is the first day of the week. Used with %V  |
|--------|----------------------------------------------------------------------------|
| %x     | Year for the week where Monday is the first day of the week. Used with %v  |
|--------|----------------------------------------------------------------------------|
| %Y     | Year as a numeric, 4-digit value                                           |
|--------|----------------------------------------------------------------------------|
| %y     | Year as a numeric, 2-digit value                                           |
|--------|----------------------------------------------------------------------------|
```
``` sql
SELECT DATE_FORMAT("2017-06-15", "%M %d %Y");
ANS: June 15 2017

SELECT DATE_FORMAT("2017-06-15", "%W %M %e %Y");
ANS: Thursday June 15 2017


SELECT DATE_FORMAT(BirthDate, "%W %M %e %Y") FROM Employees;

Sunday December 8 1968
Tuesday February 19 1952
Friday August 30 1963
Friday September 19 1958
Friday March 4 1955
Tuesday July 2 1963
Sunday May 29 1960
Thursday January 9 1958
Wednesday July 2 1969
```